.header-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra el contenido horizontalmente */
    padding: 20px;
  }
  
  .creative-title {
    font-family: 'Arial', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(206, 36, 6);
    text-align: center; /* Centra el texto del título */
    margin: 0;
  }
  
  .header-container img {
    width: 5%;
    height: 5%;
    margin-right: 30px;
  }
  